@charset "utf-8";
	/* CSS Document*/
body {
	margin:0 auto;
	font-family: "Microsoft Yahei";
	font-size:12px;
	line-height:28px;
	color:#333;
	background: url(../images/bg_w.jpg) repeat top center
}
.clear {
	display: block; 
	clear: both; 
	width: 0; 
	height: 0; 
	line-height: 0; 
	font-size: 0;
}
img{
	border:none
}
p img {
    text-indent: 0;
}
#content img{
	border: 0 none;
	display: block;
	margin: 0 auto;
	text-indent:0em !important;
}
#content table, #content td{
	margin: 0 auto;
	border: 1px solid #ccc;
	text-indent: 0em;
}
.bg1 {
	background:url(../images/bg11.jpg) no-repeat top center;
	width:100%;
	margin:0 auto;
}
ul,li {
	padding:0px;
	margin:0px;
	list-style:none;
}
h4 {
	font-size:14px;
}
a {
	text-decoration:none;
	color:#333;
	font-family: "微软雅黑";
	border:none;
}
a:hover {
	color:#06c;
}
/*顶栏*/
.header {
	width: 100%;
	height:250px;
	margin:0 auto;
}
.top {
	width: 100%;
	height:46px;
	background:url(../images/top_bg.png);
	margin:0 auto;
}
.top_center {
	width:1000px;
	margin:0 auto;
	height:46px;
}
.top_right {
	float:right;
	height:46px;
}
/*内容，包括logo*/
.main {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.container {
	width:1000px;
	background:#ffffff;
	height:auto;
	overflow:hidden;
	margin:0 auto;
}
.ul01 {
	margin:3px 0;
}
.ul01 li {
	background:url(../images/icon.png) no-repeat left center;
	padding-left: 0px;
	height:29px;
	line-height:30px;
	overflow:hidden;
	border-bottom:1px dashed #b8b8b8;
	float:left;
	width:320px;
}
.ul01 li a {
	font-size:13px;
	float:left;
	margin-left:10px;
	height:29px;
}
.ul02 {
	margin:3px 0;
}
.ul02 li {
	background:url(../images/icon.png) no-repeat left center;
	padding-left: 0px;
	height:29px;
	line-height:30px;
	overflow:hidden;
	border-bottom:1px dashed #b8b8b8;
	float:left;
	width:234px;
}
.ul02 li a {
	font-size:13px;
	float:left;
	margin-left:10px;
	height:29px;
}
/*虚线*/
.xx {
	background: url(../images/mtjj_xx.png);
	height:1px;
	width:515px;
	margin-top:7px;
}
.xx1 {
	background: url(../images/yqgg_xx.png);
	height:1px;
	width:319px;
	margin-top:7px;
}
/*logo*/
.head {
	height:220px;
	width:1000px;
	margin:0 auto;
}
.logo {
	margin:0 auto;
	background: url(../images/logo.png);
	float: left;
	width:427px;
	height:68px;
}
.nav {
	margin:0 auto;
	background:url(../images/nav_bg.png);
	width:1000px;
	height:38px;
	font-weight:15px;
	color:#FFF;
}
.nav ul {
	width:1000px;
	margin:0 auto;
}
.nav ul li {
	width:100px;
	float:left;
	text-align:center;
	position: relative;
/*	z-index:9999;*/
	height:38px;
}
.nav ul li:hover{
	height:38px;
	}
.nav ul li a {
	color:#FFF;
	line-height:38px;
	font-size:13px;
	text-align:center;
	height:38px;
	display:block;
	font-family: "宋体";
	font-weight: bold;
}
.nav ul li ul {
    background: none repeat scroll 0 0 #c3e0fd;
    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 38px;
    width: 100px;
    z-index: 9999;
}

/*z-index指放在最后，要不被幻灯片挡住了*/
.nav ul li ul li {
	float:left;
	height:25px;
	padding:2px;
	line-height:25px;
	border-bottom:1px solid #bbb;
}
.nav ul li ul li a {
    color: #333;
    float: left;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    margin-left: 20px;
    font-weight: normal;
    font-family: "宋体";
}

.nav ul li ul li:hover {
	float:left;
	height:25px;
	background:#e4f5fc;
	padding:2px;
	line-height:25px;
	border-bottom:1px solid #bbb;
}
.nav ul li ul li a:hover {
    color: #333;
    float: left;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    margin-left: 20px;
}
/*.nav ul li:hover ul{display:block;}*/

.nav li.o {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
/*搜索栏*/
.search {
	width:1000px;
	height:10px;
	background:url(../images/bg_1.gif);
	margin:0 auto;
}
.search_box {
	width:300px;
	float:right;
}
.search input {
	vertical-align:middle;
}
.search input.t {
	margin-top:6px;
	margin-left:15px;
	background: #FFFFFF;
	border: #CCCCCC 1px solid;
	width:200px;
	height:24px;
	line-height:30px;
	padding:0 5px;
	color:#666;
}
.search input.b {
	background:url(../images/search_bg.png) no-repeat center;
	border:none;
	width:60px;
	height:25px;
	margin-top:6px;
	cursor:pointer;
	margin-left:5px;
}
.date {
	float:left;
	margin-left:10px;
	line-height:40px;
}
/*第一块内容：媒体聚焦和幻灯片*/
	.tab_box {
	margin-top:5px;
	width:515px;
}
.tab_box li {
	border-bottom:dashed 1px #b8b8b8;
	height:30px;
	line-height:30px;
	overflow:hidden;
	background:url(../images/icon1.png) no-repeat;
	width:505px;
	float: left;
}
.box1 {
	height:515px;
	width:1000px;
	margin-top:10px ;
}
.box1_1 {
	float:right;
}
.box1_1_bt {
	background:url(../images/mtjj.gif) repeat-x;
	height:30px;
	width:515px;
}
.tab_menu {
	overflow:hidden;
	background:url(../images/box1bt_bg.gif) repeat-x;
	width:515px;
	height:32px;
	position:relative;
}
.tab_menu li {
	width:90px;
	float:left;
	height:30px;
	line-height:30px;
	cursor:pointer;
	color:#3370c0;
}
.tab_menu li.current {
	color:#ffffff;
	background:url(../images/bt.gif);
}
.tab_menu li a {
	color:#3370c0;
	text-decoration:none;
	text-align:center;
	line-height: 30px;
}
.tab_menu li.current a {
	color:#ffffff;
	line-height: 30px;
}
.tab_box li span {
	margin:0 5px 0 0;
	font-size:12px;
	font-weight:400;
	color:#ddd;
}
.tab_box .hide {
	display:none;
}
span a {
	margin-left:13px;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 35px;
}
.box1 {
	height:313px;
	width:1000px;
	margin-top:0px ;
}
span a {
	margin-left:13px;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 32px;
}
.tab_box li a {
	font-size: 13px;
	margin-left: 10px;
	float: left;
}
/*幻灯片*/
.pic {
height:313px;
width:465px;
float:left;
}
.pic2 a img{
    width:215px; 
    height:90px ;
}
.more {
	height:32px;
	position:absolute;
	bottom:0;
	right:10px;
}
.more span a {
	font-size:12px;
	color:#3370c0;
}
/*栏目列*/
.box2 {
	width:1000px;
	margin-top:10px;
}
/*--------------*/
.box2_1 {
	width:745px;
	float:left;
}
.box2_2 {
	width:250px;
	margin-left:5px;
	float:right;
}
/*-------------------*/
.box2_1_b {
	width:358px;
	height:291px;
	float:left;
    margin-right:10px;
    margin-bottom:10px;
    border:solid 1px #ccc;
}
.box2_1_bt {
	background:url(../images/box1_bt_bg.gif) repeat-x ;
	height:32px;
	width:338px;
	position:relative;
    padding-left:20px;
}
/*-------------------------*/
.box2_2_b {
	width:250px;
	height:215px;
	float:right;
    margin-bottom:10px;
    border:solid 1px #ccc;
}
.box2_2_bt {
	width:250px;
	height:32px;
	background:url(../images/bt_bg.png) repeat-x;
	float:right;
	position:relative;
}
.zt_nr {
	width:250px;
	height:221px;
	border:1px solid #eee;
	margin-top:52px;
}
.banner1 {
	width:232px;
	float: left;
	margin-top: 8px;
}
.banner_s {
	margin-top:60px;
	width:500px;
	height:92px;
}
.dzqk {
	margin:0 auto;
	width:186px;
	height:209px;
	margin-top:10px;
}
.dzqk a img{
    width: 186px;
    height: 199px; 
}
.zt4 {
	width:230px;
	height:62px;
	float:right;
}
.banner {
	width:1000px;
	height:95px;
	margin-top:10px;
}
.xx2 {
	background:url(../images/mtjj_xx.png);
	width:498px;
	height:1px;
	margin-top:0px;
}
.zfxxgk {
	width:1000px;
	height:230px;
	margin:0 auto;
}
.zfxxgk_bt {
	background:url(../images/zfxxgk_bt.png);
	width:1000px;
	height:32px;
	margin:0 auto;
	position:relative;
}
.zfxxgk_nr {
	margin-top:8px;
	width:1000px;
	height:184px;
	float:left;
}
.zfxxgk_nr_left {
	float:left;
	width:221px;
	height:184px;
}
.zfxxgk_nr_right {
	float:right;
	width:759px;
	height:184px;
}
/*政府信息公开右边部分的文字部分*/
.wz {
	width:759px;
	height:67px;
	float:right;
}
.wz li {
	background:url(../images/xxgk_bg.png);
	width:757px;
	height:72px;
	float:right;
}
.wz li a {
	font-size:14px;
	color:#666;
	line-height:28px;
	margin-top:0px;
}
.zfxxgk_nr_left li {
	background: url(../images/zfxxgk_bg.jpg);
	width:221px;
	height:35px;
	float:left;
	margin-top:0px;
}
.zfxxgk_nr_left li a {
	font-size:16px;
	font-family: "微软雅黑" ;
	color:#FFFFFF;
	line-height:35px;
	margin-left:44px;
}
.tbs {
	width:759px;
	float:right;
	height:117px;
}
.tbs li {
	width:;
	height:117px;
	float:left;
}
/*图片回放*/
.boximg {
	width:1000px;
	margin-top:36px;
	height:220px;
}
.boximg_2 {
	width:1000px;
	margin:0 auto;
}
.qyzc_bt {
	background:url(../images/bt_bg.png) repeat-x;
	width:1000px;
	margin:0 auto;
	height:32px;
	position:relative;
}
.qyzc_nr {
	width:1000px;
	height:200px;
	float:left;
	margin-top:5px;
}
/*友链*/
.yqlj {
	width:1000px;
	height:32px;
	background:url(../images/yqlj.gif);
	margin:0 auto;
}
.box11 {
	width:860px;
	height:32px;
	float:right;
	margin-top:6px;
}
/*5个大图标*/
.bigicon {
	width:1000px;
	height:74px;
    background:#ffffff;
    padding-bottom:10px;
}
.bigicon li {
	width:192px;
	height:74px;
	float:left;
    border:none;
}
/*版权*/
.footer {
	margin:0 auto;
	height:174px;
	background:#fff;
	width:1000px;
}
.copyright {
	width:1000px;
	height:174px;
	background:url(../images/cp_bg.jpg);
	margin:0 auto;
	margin-top:0px;
}
.cr_left {
	margin-left:140px;
	width:400px;
	height:100px;
	float:left;
}
.cr_left li {
	float:left;
	margin-top:30px;
}
.cr_left li a {
	margin-top:30px;
	line-height:26px;
}
.cr_right {
	width:460px;
	height:100px;
	float:right;
}
.cr_right li {
	float:left;
	margin-top:30px;
}
.cr_right li a {
	margin-top:30px;
	line-height:26px;
}
/*底部两个图标*/
	.bottom {
	height:100px;
	width:1000px;
	margin-top:10px;
	margin:0 auto;
	background: #fff;
}
.bottom_l {
	width:490px;
	height:60px;
	float:left;
}
.bottom_r {
	width:490px;
	height:60px;
	float:right;
}
/*51企业之窗*/
	/*滚动--*/
	.img-scroll {
	position:relative;
	margin:0 auto;
	width:1000px;
}
.img-scroll .prev, .img-scroll .next {
	position:absolute;
	display:block;
	width:30px;
	height:100px;
	background-color:#000;
	top:65px;
	color:#FFF;
	text-align:center;
	line-height:100px ;
	cursor:pointer;
}
.img-scroll .prev {
	left:0 ;
	background:url(../images/icon_l.png) no-repeat;
	text-align:center;
}
.img-scroll .next {
	right:0 ;
	background:url(../images/icon_r.png) no-repeat;
	text-align:center;
}
.img-list {
	position:relative;
	width:940px;
	height:180px;
	margin:0 auto;
	overflow:hidden }
.img-list ul {
	width:9999px;
}
.img-list li {
	float:left;
	display:inline;
	width:220px;
	margin-right:15px;
	height:180px;
	text-align:center;
	line-height:100px;
}
.img-list li a{
	width:180px;
	height:100px;
	margin-top:10px;
	float:left;
	}

/*常规列表页*/

.left_wz1 {
	width:219px;
	margin-top:5px;
	float:left;
}
.left_wz1 ul {
	width:219px;
	height:auto;
}
.left_wz1 ul li {
	width:219px;
	text-align:center;
	height:46px;
	line-height:46px;
	background:url(../images/fast_bg1.gif);
}
.left_wz1 ul li a {
	font-size:13px;
	color:#666a;
}

/*列表页*/
	.nr {
	width:1000px;
	margin:0 auto;
}
.leftbox {
	height:auto;
	width:219px;
	background:;
	float:left;
}
.leftbox_bt {
	width:219px;
	height:41px;
	background:url(../images/bt_l.png);
}
.leftbox_bt li {
	width:219px;
	height:41px;
	margin:0 auto;
	text-align:center;
}
.leftbox_bt li a {
	font-size:18px;
	color:#ffffff;
	line-height:41px;
}
.leftbox_nr {
	width:219px;
	background:;
}
.left_pic {
	width:219px;
	height:134px;
	margin:0 auto;
	background: url(../images/pic_l.jpg);
}
.left_wz {
	width:219px;
	height:216px;
	background: url(../images/bg_l.png);
	margin-top:5px;
	float:left;
}
.left_wz ul {
	width:219px;
	height:133px;
}
.left_wz ul li {
	width:219px;
	text-align:center;
	height:43px;
	line-height:43px;
}
.left_wz ul li a {
	font-size:14px;
	color:#333;
}
.rightbox {
	width:740px;
	float:right;
}
.right_top {
	float:left;
}
.right_bt {
	background:#346bb2;
	width:740px;
	height:2px;
	float:left;
	margin-top:5px;
}
.right_bottom {
	width:740px;
	height:;
	float:left;
}
.right_bottom ul {
	width:740px;
}
.right_bottom ul li {
	border-bottom:dashed 1px #b8b8b8;
	width:730px;
	height:30px;
	line-height:30px;
	background:url(../images/icon1.png) no-repeat;
}
.right_bottom ul li a {
	font-size:13px;
	margin-left:10px;
	float: left;
}
.buttons {
	margin-top:20px;
	height:28px;
	width:740px;
	margin-left:200px;
	float:left;
}
.buttons ul {
	margin:0 auto;
	width:auto;
	background:#ffffff;
	float:left;
}
.buttons ul li {
	text-align:center;
	float:left;
	line-height:26px;
	height:26px;
	background:#CCC;
  	width:55px;
	margin-left:10px;
}
.buttons ul li:hover{
	background:#356bb3;
	}
.buttons ul li a{
	color:#fff;
	}
.page_box {
	width:310px;
}
.page_box input {
	vertical-align:middle;
}
input.t {
	margin-left:5px;
	background: #FFFFFF;
	border: #CCCCCC 1px solid;
	width:30px;
	height:22px;
	line-height:30px;
	float:left;
}
input.b {
	background:url(../images/page_bg.png) no-repeat center;
	border:none;
	width:60px;
	height:25px;
	float:left;
	cursor:pointer;
}

/*内容页*/
	.rq {
	width:740px;
	height:41px;
	background:url(../images/rq_bg.jpg);
	line-height:41px;
	text-align:center;
	float:left;
	margin-top:20px;
}
.right_bottom1{
	width: 720px; 
	margin-top: 5px;
	float: left;
	font-size: 14px;
	color:#333;
	text-indent: 2em;
	}
.right_bottom1 p {
	font-size:14px;
	color:#333;
	text-indent: 2em;
	word-wrap:break-word;
	margin:15px 0 5px;
}
.nr1_bt{
	text-align:center;width:720px;float:left;margin-top:30px;
	}
.nr1_bt p{
font-size: 16px;
margin: 0;
margin-top: 15px;
}

/*企业名录列表页*/
.right_bottom2 {
	width:740px;
	height:;
	float:left;
}
.right_bottom2 ul {
	width:740px;
}
.right_bottom2 ul li {
	width:730px;
	height:30px;
	line-height:30px;
	background:url(../images/icon1.png) no-repeat;
}
.right_bottom2 ul li a {
	font-size:14px;
	margin-left:15px;
}
/*办事大厅子页下载样式*/
.download{
	width:722px;
	float:left;
	margin-top:20px;
	}
.download_bt{
	width:722px;
	height:30px;
	background:#ACCCF0;
	float:left;
	color:#fff;
	}
.download_bt a{
	width:722px;
	height:30px;
	float:left;
	color:#fff;
	margin-left:10px;
	font-size:14px;
	}
.download_nr{
	width:1000px;
	float:left;
	margin-top:10px;
	}
.download_nr li{
	height:32px;
	}
/*搜索结果页面样式*/
.left_wz1 input.b {
	background:url(../images/search_button.png) no-repeat center;
	border:none;
	width:89px;
	height:33px;
	margin-top:6px;
	float:left;
	cursor:pointer;
	margin-left:35px;
}

.right_bottom22{
	width:740px;
	height:;
	float:left;
}
.right_bottom22 ul {
	width:740px;
}
.right_bottom22 ul li {
	border-bottom:dashed 1px #b8b8b8;
	line-height:30px;
	background:url(../images/icon1.png) no-repeat;
	position:relative;
}
.right_bottom22 ul li a {
	font-size:14px;
	margin-left:15px;
}

/*幻灯片样式*/

.FocusPic {
	width:465px;
	height:313px;
	position:relative;
	zoom:1;
	overflow:hidden;
}
.FocusPic .FP_angle {
	width:7px;
	height:7px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	position:absolute;
	z-index:10;
}
.FocusPic .FP_NumList {
	position:absolute;
	right:0px;
	bottom:0px;
	zoom:1;
	overflow:hidden;
	z-index:9;
	line-height:30px;
}
.FocusPic .FP_NumList span {
	float:left;
	padding:0px 11px 0px 11px;
	display:inline;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
	height:30px;
	border-left:1px solid #e8e8e8;
}
.FocusPic .FP_NumList {   
   line-height: 45px;
}
.FocusPic .FP_NumList span {  
   float: left;
   padding: 0px 11px 0px 11px;
   display: inline;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
   height: 45px;
   border-left: 1px solid #e8e8e8;
}
.FocusPic .FP_NumList span.selected {
	background:#cf0000;
	color:#fff;
}
.FocusPic .FP_pic {
	width:465px;
	height:313px;
	overflow:hidden;
	float:left;
}
/*.FocusPic .FP_pic .FP_tit_bg {
	height:30px;
	width:100%;
	margin-top:-30px;
	background:#000;
	filter:Alpha(Opacity=30);
	opacity:.3;
}*/
.FocusPic .FP_pic .FP_tit_bg {
    height: 45px;
    width: 100%;
    margin-top: -45px;
    background: #000;
    filter: Alpha(Opacity=30);
    opacity: .3;
}
/*.FocusPic .FP_pic .FP_tit_txt {
	line-height:30px;
	padding-left:18px;
	margin-top:-30px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	position:relative;
	*position:static;
}*/
.FocusPic .FP_pic .FP_tit_txt{
    line-height: 30px;
    padding-left: 18px;
    margin-top: -50px;
    font-size: 12px;
    font-family: "微软雅黑";
    color: #fff;
    position: relative;
    font-weight:bold;
}
.FP_tit_txt a{    
    width: 280px;     
    height: 45px;     
    float: left;      
    margin-top: 10px;
    line-height: 20px;
}
.FocusPic .FP_pic .FP_tit_ico {
	width:11px;
	height:15px;
	margin:-22px 0 0 7px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	position:relative;
	*position:static;
}
.FocusPic .FP_pic a:link,.FP_pic a:visited {
	color:#fff;
	text-decoration:none;
}
.FocusPic .FP_pic a:hover {
	text-decoration:underline;
}

p,p a {
	color:#666;
	font-size:12px;
}
/*#demo1 li{
	float:left;
	}
#demo2 li{
	float:left;
	}*/

/*领导信箱页面*/
.leader_email_bg{
	width:1000px;
	height:auto;
	margin:0 auto;
	}
.title_leader{
	height:30px;
	width:750px;
	background:url(../images/title_email_bg.jpg) no-repeat;
	margin-top:50px;
	margin-left:125px;
	}
.title_leader p {
	color:#fff;
	font-size:14px;
	font-weight:bold;
	float:left;
	margin-left:20px;
	line-height:30px;
	margin:0;
	margin-left:30px;
	}
.leader_email_bg table tr td p{
	font-size:14px; 
	text-align: center; 
	font-weight:bold;
	line-height:32px;
	margin:0;
	color:#333;
	}
.leader_email_bg table tr td{
    font-size:14px;
	font-weight:normal;
	text-align:center;
	height:35px;
}
.leader_email_bg table tr td a{
    font-size:14px;
	font-weight:normal;
	text-align:center;
	color:#666;
}
.leader_email_bg table tr td a:hover{
	color:#e15653;
	}

/*投诉页面的按钮们*/
.buttons_01{
	width:300px;
	height:40px;
	float:left;
	margin-left:240px;
	margin-top:150px;
	}
.buttons_01 li{
	width:92px;
	height:34px;
	text-align:center;
	float:left;
	line-height:34px;
	background:#3677CD;
	}
.buttons_01 li a{
	color:#fff;
	font-size:15px;
	display:block;
	}
.buttons_01 li:hover{
	background:#3A81DE;
	}
	/*友情提示页*/
.title_attention{
	height:30px;
	width:720px;
	background:url(../images/attention.jpg) no-repeat;
	float:left;
	}
.title_attention p {
	color:#fff;
	font-size:14px;
	font-weight:bold;
	float:left;
	margin-left:20px;
	line-height:30px;
	margin:0;
	margin-left:30px;
	}
/*首页的补充样式*/
.other2_2_bt span a{
	color:#fff;
	line-height: 30px;
	}
.other2_1_bt span a{
	color:#fff;
	line-height: 30px;
	}
.other1_2_bt span a{
	color:#fff;
	line-height: 30px;
	}
.zfxxgk_bt span a{
	color:#fff;
	line-height: 30px;
	}
.qyzc_bt span a{
	color:#fff;
	line-height: 30px;
	}

/*文章内容链接样式*/
.right_bottom1 a{
	color:#cc3300;
}
/*意见征集*/
.right_sgt{
	width:670px;
	float:right;
	height:1000px;
	margin-right:10px;
	overflow-y:scroll;
	}
.suggestion_right{
	width:650px;
	float:right;
	background:;
	}
.t1{
	width:650px;
	height:30px;
	float:left;
	margin-top:5px;
	border-bottom:;
	background:url(../images/t1_bg.jpg);
	}

.t1_t{
	height:;
	float:left;
	}
.t1_t p{
	color: #C60000;
	font-weight:bold;
	float:left;
	line-height:30px;
	margin:0 0 0 10px;
	font-size:14px;
	}
.t1_t2 {
	float:left;
	width:auto;
	}
.t1_t2 p{
	line-height:30px;
	margin:0;
    font-weight:normal;color:#666;
	font-size:13px;
	}
.theme{
	float:right;
	margin-top:10px;
	}
.theme p{
	text-indent:2em;
	font-size:14px;
	line-height:28px;
	margin:0;
	}
.comment{
	width:650px;
	height:auto;
	float:right;
	margin-top:10px;
	}
.comment_title{
	width:650px;
	height:30px;
	float:left;
	background:#cae8ff;
	border-top:1px solid #729DE7;
	}
.comment_box{
	width:650px;
	height:auto;
	float:left;
	}
.comment_box table tr td {
	font-family:"微软雅黑";
	font-size:14px;
	text-align:center;
	font-weight:bold;
	}
.comment_box table tr td p{
	font-weight:normal;
	text-align:left;
	color:#666;
	margin-left:10px;
	}
.comment_button{
	width:650px;
	height:35px;
	float:left;
	margin-top:20px;
	}
.comment_title span{
	float:left;
	margin-left:10px;
	font-size:14px;
	font-weight:bold;
	color:#333;
	}
.c_b{
	width:70px;
	height:26px;
	background:url(../images/comment_button.jpg) no-repeat center;
	float:left;
	margin-left:300px;
	border:none;
	cursor:pointer;
	}
.reply{
	width:650px:;
	height:auto;
	float:left;
	margin-top:20px;
	}
.reply_box{
	width:650px;
	height:auto;
	float:left;
	}
.r_b1{
	width:650px;
	height:auto;
	float:left;
	border:1px solid #e8e8e8;
	margin-top:10px;
    background:;
	}
.r_b1_title{
	height:30px;
	width:650px;
	float:left;
	border-bottom:1px dashed #CCC;
	}
.r_b1_title span{
	color:#666;
	float:left;
	margin-left:10px;
	line-height:30px;
	font-size:14px;
	}
.r_b1_nr {
	float:left;
	width:650px;
	height:auto;
	}
.r_b1_nr p{
	float:left;
	font-size:13px;
	margin:4px 10px 4px 10px;
	line-height:24px;
	}
.r_reply{
	width:650px;
	height:auto;
	float:left;
	border-top:1px solid #cae8ff;
	background:#f9f9f9;
	}
.r_reply p{
	font-size:14px;
	color:#333;
	font-weight:bold;
	float:left;
	margin:4px 10px 4px 10px;
	line-height:24px;
	}
/*专题网站*/
#intro_nr{width:203px; height:325px;margin:10px auto; line-height:24px;}
#intro_nr li{width:203px;float:left;margin-top:10px;}
#intro_nr li a{width:203px;float:left;}

/*页码样式 2014-10-31 */
.pages .pagelist, .pages a, .pages strong {
    display: inline-block;
  	margin:0 auto;
  	text-align:center;
}
.pages {
/*    height: 50px;
    margin: 10px auto 0 16px;
  float:left;
*/  text-align:center;
    margin-top: 20px;
}
.pagelist input.t{
   width: 30px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); line-height: 30px;float:none;vertical-align: middle;height: 26px; 
  }
.pagelist input.b{
   border: medium none; cursor: pointer; background:url(../images/nnda_b.jpg); width: 60px; margin-left: 5px; height: 30px;float:none;vertical-align: middle;
   }
.pages a {
    background: none repeat scroll 0 0 #295cc7;
    color: #fff;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0 7px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.pages span, .pages .current {
    background: none repeat scroll 0 0 #aaa !important;
    color: #fff;
    display: inline-block;
    font-family: Arial,Microsoft YaHei;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0px 10px 0px;
    padding: 0 7px;
    text-align: center;
    vertical-align: middle;
}