<?xml version="1.0"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>演示网站</name>
  <guid>7714b632-37ee-4c00-a3dd-75874b38350d</guid>
  <markup>sites_demo</markup>
  <platform />
  <sitepath>demo</sitepath>
  <author>方配</author>
  <import />
  <dll />
  <urltype>2</urltype>
  <notes />
  <version>1.0.0</version>
  <sitetitle>广西壮族自治区二轻城镇集体工业联合社|广西二轻工业联社</sitetitle>
  <keywords>广西二轻工业联社,广西二轻,二轻工业联社,广西二轻工业,二轻工业,广西壮族自治区二轻城镇集体工业联合社,轻工业联合社,城镇,新闻动态, 政策法规,总社简介,二轻总社章程,理事单位,图说总社,二轻直报系统</keywords>
  <description>广西自治区二轻工业联社是自治区人民政府直属事业单位，主要职责是行使自治区人民政府委托的全区二轻行业管理职能。重点负责全区二轻行业的上情下达、沟通信息、搞好行业发展规划，进行宏观指导，维护行业企业的合法权益和为企业提供服务。</description>
  <otherhead />
  <copyright />
  <homepage />
  <adminurl />
  <indexurl />
  <icon />
  <autocreate>1</autocreate>
  <closed>0</closed>
  <closedreason>站点正在升级，请稍后再访问！</closedreason>
  <ipdenyaccess />
  <ipaccess />
  <createdate>2015-09-23</createdate>
  <updatedate>2019-07-17 11:32:39</updatedate>
  <size />
  <roles />
</SiteConfig>