<?xml version="1.0"?>
<AppInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <id>3</id>
  <name>友情链接</name>
  <installpath>link</installpath>
  <author>方配</author>
  <version>1.0</version>
  <frontpage />
  <notes />
  <files>FP_FP_Link.dll</files>
  <guid>ad77440b-09e2-44a2-a154-f0d150afsdfdf</guid>
  <sortapps>友情链接,link,linkmanage.aspx</sortapps>
</AppInfo>