<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>友情链接</name>
  <guid>ad77440b-09e2-44a2-a154-f0d150afsdfdf</guid>
  <markup>app_link</markup>
  <platform />
  <installpath>link</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <adminurl />
  <indexurl />
  <icon />
  <homepage>http://www.fangpage.com</homepage>
  <notes />
  <dll>FP_FP_Link.dll</dll>
  <sortapps />
  <createdate>2016-06-22 22:22:24</createdate>
  <updatedate>2019-07-17 18:43:12</updatedate>
  <size />
  <width>0</width>
  <height>0</height>
</AppConfig>