<?xml version="1.0"?>
<SMSConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <server>http://www.cqhuatang.com/SMSServer/sendFullTextSms</server>
  <port>0</port>
  <json>{"appkey":"${账号}","appsecret":"${密码}","templateid":"15402854892246Dp","phone":"${手机号码}","extnum":"","content":"${短信内容}"}</json>
  <account>583121</account>
  <password>FOEIIi</password>
  <result />
</SMSConfig>