<?xml version="1.0"?>
<SSOConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <corpid />
  <secret />
  <server />
  <login>login.aspx</login>
  <logout>logout.aspx</logout>
  <getsession>getsession.aspx</getsession>
  <addsession>addsession.aspx</addsession>
  <updatesession>updatesession.aspx</updatesession>
  <getuserinfo>getuserinfo.aspx</getuserinfo>
  <adduser>adduser.aspx</adduser>
  <updatepassword>updatepassword.aspx</updatepassword>
</SSOConfig>