<?xml version="1.0"?>
<SysConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <passwordkey>JR44JRJ06N</passwordkey>
  <cookiedomain />
  <onlinefrequency>2</onlinefrequency>
  <browsecreatesite>1</browsecreatesite>
  <admintitle>广西二轻工业联社网站后台</admintitle>
  <adminpath>admin</adminpath>
  <verifypage>liuyanpost.aspx</verifypage>
  <customerrors />
  <onlinetimeout>60</onlinetimeout>
  <allowlog>1</allowlog>
  <attachimgmaxwidth>700</attachimgmaxwidth>
  <attachimgmaxheight>1000</attachimgmaxheight>
  <attachimgquality>90</attachimgquality>
  <thumbnailwidth>0</thumbnailwidth>
  <thumbnailheight>0</thumbnailheight>
  <allowwatermark>0</allowwatermark>
  <watermarkopacity>5</watermarkopacity>
  <watermarkpic>watermark.gif</watermarkpic>
  <watermarkstatus>3</watermarkstatus>
</SysConfig>