<UserExtends>
  <UserExtend name="出生年月" markup="bday" type="text" typedata="" defvalue="" />
  <UserExtend name="民族" markup="nation" type="text" typedata="" defvalue="" />
  <UserExtend name="参加工作时间" markup="jobdate" type="text" typedata="" defvalue="" />
  <UserExtend name="婚姻状况" markup="married" type="text" typedata="" defvalue="" />
  <UserExtend name="籍贯" markup="origin" type="text" typedata="" defvalue="" />
</UserExtends>