<ViewConfigs>
  <ViewConfig path="sites/demo/index.aspx" include="sites/demo/_header.aspx;sites/demo/_footer.aspx" />
  <ViewConfig path="sites/demo/newsinfo.aspx" include="sites/demo/_header.aspx;sites/demo/_lefter.aspx;sites/demo/_footer.aspx" />
  <ViewConfig path="sites/demo/articleinfo.aspx" include="sites/demo/_header.aspx;sites/demo/_lefter.aspx;sites/demo/_footer.aspx" />
  <ViewConfig path="sites/demo/newslist.aspx" include="sites/demo/_header.aspx;sites/demo/_lefter.aspx;sites/demo/_footer.aspx" />
  <ViewConfig path="sites/app/news/articlemanage.aspx" include="" />
  <ViewConfig path="sites/app/news/newsmanage.aspx" include="" />
  <ViewConfig path="sites/app/news/imgmanage.aspx" include="" />
  <ViewConfig path="sites/demo/guestbooklist.aspx" include="sites/demo/_header.aspx;sites/demo/_lefter.aspx;sites/demo/_footer.aspx" />
  <ViewConfig path="sites/demo/liuyanpost.aspx" include="" />
  <ViewConfig path="sites/app/guestbook/guestbookmanage.aspx" include="" />
  <ViewConfig path="sites/app/guestbook/guestbookadd.aspx" include="" />
  <ViewConfig path="sites/app/news/newsadd.aspx" include="" />
  <ViewConfig path="sites/app/link/linkmanage.aspx" include="" />
  <ViewConfig path="sites/app/news/imgadd.aspx" include="" />
  <ViewConfig path="sites/app/link/linkadd.aspx" include="" />
  <ViewConfig path="sites/app/news/downloadadd.aspx" include="" />
  <ViewConfig path="sites/app/news/downloadmanage.aspx" include="" />
  <ViewConfig path="sites/app/news/mediaadd.aspx" include="" />
  <ViewConfig path="sites/app/news/mediamanage.aspx" include="" />
  <ViewConfig path="sites/app/news/newsstatus.aspx" include="" />
</ViewConfigs>