<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>新闻资讯</name>
  <guid>6208f6ce-b311-4cd0-a903-f4c415c1ea7e</guid>
  <markup>app_news</markup>
  <platform />
  <installpath>news</installpath>
  <author>方配</author>
  <version>2.7.0</version>
  <adminurl />
  <indexurl />
  <icon />
  <homepage>http://www.fangpage.com</homepage>
  <notes>新闻内容管理应用</notes>
  <dll>FP_News.dll</dll>
  <sortapps>新闻文章|news|newsmanage.aspx§文章简介|article|articlemanage.aspx§图片管理|image|imgmanage.aspx§文件下载|download|downloadmanage.aspx§未审核文章|newsstatus|newsstatus.aspx</sortapps>
  <createdate>2016-06-22 22:14:59</createdate>
  <updatedate>2016/6/22 22:15:00</updatedate>
  <size>678 B</size>
  <width>0</width>
  <height>0</height>
</AppConfig>