<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>验证码插件</name>
  <installpath>verify</installpath>
  <author>方配</author>
  <version>1.0</version>
  <frontpage />
  <notes>系统插件勿删</notes>
  <guid>7a9d0590-74d6-46e6-aa69-c7840f92abd4</guid>
  <system>0</system>
</PluginConfig>