/****** Object:  Table [dbo].[FP_WMS_UserInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_UserInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roleid] [int] NULL,
	[roles] [nvarchar](250) NULL,
	[departid] [int] NULL,
	[departname] [nvarchar](100) NULL,
	[departs] [nvarchar](250) NULL,
	[display] [int] NULL,
	[gradeid] [int] NULL,
	[types] [nvarchar](200) NULL,
	[username] [nvarchar](100) NULL,
	[password] [nvarchar](32) NULL,
	[password2] [nvarchar](32) NULL,
	[email] [nvarchar](30) NULL,
	[isemail] [int] NULL,
	[mobile] [nvarchar](200) NULL,
	[ismobile] [int] NULL,
	[realname] [nvarchar](100) NULL,
	[cardtype] [nvarchar](60) NULL,
	[idcard] [nvarchar](100) NULL,
	[isreal] [int] NULL,
	[usercode] [nvarchar](200) NULL,
	[nickname] [nvarchar](100) NULL,
	[avatar] [nvarchar](200) NULL,
	[sex] [nvarchar](50) NULL,
	[exp] [int] NULL,
	[credits] [int] NULL,
	[regip] [nvarchar](15) NULL,
	[joindatetime] [datetime] NULL,
	[sumlogin] [int] NULL,
	[lastip] [nvarchar](15) NULL,
	[lastvisit] [datetime] NULL,
	[secques] [nvarchar](8) NULL,
	[authstr] [nvarchar](20) NULL,
	[authtime] [datetime] NULL,
	[authflag] [int] NULL,
	[vipdate] [nvarchar](20) NULL,
	[state] [int] NULL,
	[issso] [int] NULL,
	[extend] [nvarchar](1000) NULL,
 CONSTRAINT [PK_FP_WMS_IUser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户角色ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'roleid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户部门ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'departid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户等级id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'gradeid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'types'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'username'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'支付密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'password2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电子邮箱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否已验证邮箱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'isemail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'mobile'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否已验证手机' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'ismobile'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'真实姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'realname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'身份证号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'idcard'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否已实名认证' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'isreal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户身份验证码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'usercode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'昵称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'nickname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'头像' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'avatar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'性别 0女 1男' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'sex'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'经验值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'exp'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户积分' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'credits'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册IP地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'regip'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'joindatetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'在线状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'sumlogin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上次登录IP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'lastip'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上次访问时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'lastvisit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'安全问题码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'secques'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'验证码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'authstr'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'验证码生成日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'authtime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'验证码使用标志 0未使用 1用户邮箱验证及用户信息激活 2用户密码找回)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'authflag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'VIP到期时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_UserInfo', @level2type=N'COLUMN',@level2name=N'vipdate'
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_UserInfo] ON
SET IDENTITY_INSERT [dbo].[FP_WMS_UserInfo] OFF
/****** Object:  Table [dbo].[FP_WMS_TypeInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_TypeInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parentid] [int] NULL,
	[name] [nvarchar](50) NULL,
	[markup] [nvarchar](50) NULL,
	[type] [int] NULL,
	[required] [int] NULL,
	[description] [nvarchar](60) NULL,
	[otherurl] [nvarchar](250) NULL,
	[display] [int] NULL,
	[img] [nvarchar](200) NULL,
	[attach_img] [nvarchar](100) NULL,
	[subcounts] [int] NULL,
	[sortids] [nvarchar](250) NULL,
	[posts] [nvarchar](250) NULL,
 CONSTRAINT [PK_WMS_TypeInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TypeInfo', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TypeInfo', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TypeInfo', @level2type=N'COLUMN',@level2name=N'markup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类选项' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TypeInfo', @level2type=N'COLUMN',@level2name=N'type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TypeInfo', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TypeInfo', @level2type=N'COLUMN',@level2name=N'display'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类图片' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TypeInfo', @level2type=N'COLUMN',@level2name=N'img'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发布数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TypeInfo', @level2type=N'COLUMN',@level2name=N'posts'
GO
/****** Object:  Table [dbo].[FP_WMS_TaskInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FP_WMS_TaskInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NULL,
	[key] [varchar](50) NULL,
	[timeofday] [int] NULL,
	[minutes] [int] NULL,
	[type] [nvarchar](50) NULL,
	[lastexecuted] [nvarchar](20) NULL,
	[enabled] [int] NULL,
 CONSTRAINT [PK_WMS_TasksEvents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TaskInfo', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务标识符' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TaskInfo', @level2type=N'COLUMN',@level2name=N'key'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'执行时间点' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TaskInfo', @level2type=N'COLUMN',@level2name=N'timeofday'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'执行间隔时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TaskInfo', @level2type=N'COLUMN',@level2name=N'minutes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务执行类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TaskInfo', @level2type=N'COLUMN',@level2name=N'type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后执行时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TaskInfo', @level2type=N'COLUMN',@level2name=N'lastexecuted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否启用此任务' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_TaskInfo', @level2type=N'COLUMN',@level2name=N'enabled'
GO
/****** Object:  Table [dbo].[FP_WMS_SysLogInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_SysLogInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uid] [int] NULL,
	[name] [nvarchar](100) NULL,
	[content] [nvarchar](200) NULL,
	[ip] [nvarchar](30) NULL,
	[postdatetime] [datetime] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_WMS_LogInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作者Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SysLogInfo', @level2type=N'COLUMN',@level2name=N'uid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SysLogInfo', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SysLogInfo', @level2type=N'COLUMN',@level2name=N'content'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作IP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SysLogInfo', @level2type=N'COLUMN',@level2name=N'ip'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SysLogInfo', @level2type=N'COLUMN',@level2name=N'postdatetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作结果' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SysLogInfo', @level2type=N'COLUMN',@level2name=N'status'
GO
/****** Object:  Table [dbo].[FP_WMS_SortInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_SortInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[channelid] [int] NULL,
	[appid] [int] NULL,
	[display] [int] NULL,
	[parentid] [int] NULL,
	[parentlist] [nvarchar](200) NULL,
	[name] [nvarchar](100) NULL,
	[markup] [nvarchar](60) NULL,
	[pagesize] [int] NULL,
	[description] [nvarchar](200) NULL,
	[icon] [nvarchar](100) NULL,
	[attach_icon] [nvarchar](100) NULL,
	[img] [nvarchar](100) NULL,
	[attach_img] [nvarchar](100) NULL,
	[subcounts] [int] NULL,
	[types] [nvarchar](200) NULL,
	[showtype] [int] NULL,
	[otherurl] [nvarchar](200) NULL,
	[posts] [int] NULL,
 CONSTRAINT [PK_WMS_SortInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'频道Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'channelid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'栏目应用Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'appid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'display'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父栏目编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'parentid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父目录id集合,包括自身的id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'parentlist'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'栏目名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'栏目标识符' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'markup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'页码尺寸' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'pagesize'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'栏目描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'栏目图标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'icon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'栏目图片' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'img'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'子栏目数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'subcounts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'栏目分类id，以,分隔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'types'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'外部连接' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'otherurl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发布统计' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortInfo', @level2type=N'COLUMN',@level2name=N'posts'
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_SortInfo] ON
INSERT [dbo].[FP_WMS_SortInfo] ([id], [channelid], [appid], [display], [parentid], [parentlist], [name], [markup], [pagesize], [description], [icon], [attach_icon], [img], [attach_img], [subcounts], [types], [showtype], [otherurl], [posts]) VALUES (1, 1, 0, 1, 0, N'0,1', N'联社概况', N'', NULL, N'', N'', NULL, N'', NULL, 4, N'', NULL, N'', 0)
INSERT [dbo].[FP_WMS_SortInfo] ([id], [channelid], [appid], [display], [parentid], [parentlist], [name], [markup], [pagesize], [description], [icon], [attach_icon], [img], [attach_img], [subcounts], [types], [showtype], [otherurl], [posts]) VALUES (2, 1, 1, 4, 0, N'0,2', N'政务公开', N'', NULL, N'', N'', NULL, N'', NULL, 0, N'', NULL, N'', 0)
INSERT [dbo].[FP_WMS_SortInfo] ([id], [channelid], [appid], [display], [parentid], [parentlist], [name], [markup], [pagesize], [description], [icon], [attach_icon], [img], [attach_img], [subcounts], [types], [showtype], [otherurl], [posts]) VALUES (3, 1, 1, 4, 0, N'0,3', N'工艺美术', N'', NULL, N'', N'', NULL, N'', NULL, 0, N'', NULL, N'', 0)
SET IDENTITY_INSERT [dbo].[FP_WMS_SortInfo] OFF
/****** Object:  Table [dbo].[FP_WMS_SortAppInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_SortAppInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[guid] [nvarchar](60) NULL,
	[type] [nvarchar](30) NULL,
	[installpath] [nvarchar](60) NULL,
	[name] [nvarchar](60) NULL,
	[markup] [nvarchar](60) NULL,
	[indexpage] [nvarchar](250) NULL,
 CONSTRAINT [PK_WMS_SortAppInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortAppInfo', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'应用Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortAppInfo', @level2type=N'COLUMN',@level2name=N'guid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'栏目应用名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortAppInfo', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'应用管理页地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SortAppInfo', @level2type=N'COLUMN',@level2name=N'indexpage'
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_SortAppInfo] ON
INSERT [dbo].[FP_WMS_SortAppInfo] ([id], [guid], [type], [installpath], [name], [markup], [indexpage]) VALUES (1, N'6208f6ce-b311-4cd0-a903-f4c415c1ea7e', N'app', N'news', N'新闻文章', N'news', N'newsmanage.aspx')
INSERT [dbo].[FP_WMS_SortAppInfo] ([id], [guid], [type], [installpath], [name], [markup], [indexpage]) VALUES (2, N'6208f6ce-b311-4cd0-a903-f4c415c1ea7e', N'app', N'news', N'文章简介', N'article', N'articlemanage.aspx')
INSERT [dbo].[FP_WMS_SortAppInfo] ([id], [guid], [type], [installpath], [name], [markup], [indexpage]) VALUES (3, N'6208f6ce-b311-4cd0-a903-f4c415c1ea7e', N'app', N'news', N'图片管理', N'image', N'imgmanage.aspx')
SET IDENTITY_INSERT [dbo].[FP_WMS_SortAppInfo] OFF
/****** Object:  Table [dbo].[FP_WMS_SessionInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_SessionInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sid] [nvarchar](60) NULL,
	[uid] [int] NULL,
	[username] [nvarchar](60) NULL,
	[password] [nvarchar](60) NULL,
	[realname] [nvarchar](60) NULL,
	[avatar] [nvarchar](60) NULL,
	[platform] [nvarchar](50) NULL,
	[token] [nvarchar](60) NULL,
	[address] [nvarchar](250) NULL,
	[roleid] [int] NULL,
	[rolename] [nvarchar](100) NULL,
	[departid] [int] NULL,
	[departname] [nvarchar](150) NULL,
	[createtime] [datetime] NULL,
	[updatetime] [datetime] NULL,
	[timeout] [int] NULL,
	[invisible] [int] NULL,
	[state] [int] NULL,
 CONSTRAINT [PK_FP_SSO_SessionInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SessionID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SessionInfo', @level2type=N'COLUMN',@level2name=N'sid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SessionInfo', @level2type=N'COLUMN',@level2name=N'username'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MD5加密后的用户密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SessionInfo', @level2type=N'COLUMN',@level2name=N'password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'真实姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SessionInfo', @level2type=N'COLUMN',@level2name=N'realname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户凭证' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SessionInfo', @level2type=N'COLUMN',@level2name=N'token'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录IP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SessionInfo', @level2type=N'COLUMN',@level2name=N'address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户所在的角色' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SessionInfo', @level2type=N'COLUMN',@level2name=N'roleid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最的更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SessionInfo', @level2type=N'COLUMN',@level2name=N'updatetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户状态 0不在线   1在线' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_SessionInfo', @level2type=N'COLUMN',@level2name=N'invisible'
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_SessionInfo] ON
INSERT [dbo].[FP_WMS_SessionInfo] ([id], [sid], [uid], [username], [password], [realname], [avatar], [platform], [token], [address], [roleid], [rolename], [departid], [departname], [createtime], [updatetime], [timeout], [invisible], [state]) VALUES (46, N'2L22HZ026LLN088X40N08V844B2V4V80', 1, N'admin', N'e10adc3949ba59abbe56e057f20f883e', N'方配', N'common/avatar/1.png', N'FP_WMS2', N'86cd42a8d945b12a5066554f8efc7d2c', N'127.0.0.1', 1, N'系统管理员', 1, N'研发部', CAST(0x0000A7C2000219E4 AS DateTime), CAST(0x0000A7C2000219E4 AS DateTime), 60, 0, 1)
INSERT [dbo].[FP_WMS_SessionInfo] ([id], [sid], [uid], [username], [password], [realname], [avatar], [platform], [token], [address], [roleid], [rolename], [departid], [departname], [createtime], [updatetime], [timeout], [invisible], [state]) VALUES (308, N'8DRHD2042XFD0V4BD886LDFHNP86J6DB', 1, N'admin', N'e10adc3949ba59abbe56e057f20f883e', N'方配', N'common/avatar/1.png', N'FP_WMS', N'7795b4b7c48ece9817d3fc83c1fd9ae4', N'0.0.0.0', 1, N'系统管理员', 4, N'方配软件研发部2', CAST(0x0000AA8E00F447F0 AS DateTime), CAST(0x0000AA8E00F447F0 AS DateTime), 60, 0, 1)
SET IDENTITY_INSERT [dbo].[FP_WMS_SessionInfo] OFF
/****** Object:  Table [dbo].[FP_WMS_RoleInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_RoleInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](60) NULL,
	[markup] [nvarchar](60) NULL,
	[description] [nvarchar](100) NULL,
	[desktopurl] [nvarchar](100) NULL,
	[sorts] [nvarchar](250) NULL,
	[menus] [nvarchar](250) NULL,
	[desktop] [nvarchar](250) NULL,
	[permission] [nvarchar](250) NULL,
	[isadmin] [int] NULL,
	[isupload] [int] NULL,
	[isdownload] [int] NULL,
	[issms] [int] NULL,
 CONSTRAINT [PK_FP_RoleInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_RoleInfo', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_RoleInfo', @level2type=N'COLUMN',@level2name=N'markup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_RoleInfo', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统桌面地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_RoleInfo', @level2type=N'COLUMN',@level2name=N'desktopurl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'栏目权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_RoleInfo', @level2type=N'COLUMN',@level2name=N'sorts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_RoleInfo', @level2type=N'COLUMN',@level2name=N'menus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'桌面权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_RoleInfo', @level2type=N'COLUMN',@level2name=N'desktop'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_RoleInfo', @level2type=N'COLUMN',@level2name=N'permission'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'后台登录权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_RoleInfo', @level2type=N'COLUMN',@level2name=N'isadmin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上传文件权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_RoleInfo', @level2type=N'COLUMN',@level2name=N'isupload'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'下载文件权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_RoleInfo', @level2type=N'COLUMN',@level2name=N'isdownload'
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_RoleInfo] ON
INSERT [dbo].[FP_WMS_RoleInfo] ([id], [name], [markup], [description], [desktopurl], [sorts], [menus], [desktop], [permission], [isadmin], [isupload], [isdownload], [issms]) VALUES (1, N'系统管理员', N'', N'', N'', N'1,2', N'1,2,3,22,41,36,30,9,5,6,42,7,8,21,34,23,32,31,13,14,15,16,17,18,44,19,46,20,40,10,11,12,25,27,28,39,26', N'6,5,2,3,1,4', N'', 1, 0, 0, 0)
INSERT [dbo].[FP_WMS_RoleInfo] ([id], [name], [markup], [description], [desktopurl], [sorts], [menus], [desktop], [permission], [isadmin], [isupload], [isdownload], [issms]) VALUES (2, N'游客', N'', N'', N'', N'', N'', N'', N'', 0, 1, 1, 0)
INSERT [dbo].[FP_WMS_RoleInfo] ([id], [name], [markup], [description], [desktopurl], [sorts], [menus], [desktop], [permission], [isadmin], [isupload], [isdownload], [issms]) VALUES (3, N'等待验证', NULL, N'', NULL, NULL, NULL, NULL, N'', 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[FP_WMS_RoleInfo] OFF
/****** Object:  Table [dbo].[FP_WMS_Permission]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_Permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[flagpage] [ntext] NULL,
	[isadd] [int] NULL,
	[isupdate] [int] NULL,
	[isdelete] [int] NULL,
	[isaudit] [int] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_WMS_Permission] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'访问权限名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Permission', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'访问权限页面' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Permission', @level2type=N'COLUMN',@level2name=N'flagpage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'添加权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Permission', @level2type=N'COLUMN',@level2name=N'isadd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Permission', @level2type=N'COLUMN',@level2name=N'isupdate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Permission', @level2type=N'COLUMN',@level2name=N'isdelete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'审核权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Permission', @level2type=N'COLUMN',@level2name=N'isaudit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'权限状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Permission', @level2type=N'COLUMN',@level2name=N'status'
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_Permission] ON
INSERT [dbo].[FP_WMS_Permission] ([id], [name], [flagpage], [isadd], [isupdate], [isdelete], [isaudit], [status]) VALUES (1, N'栏目管理', N'admin/sort/sortmanage.aspx
admin/sort/sortadd.aspx', 1, 1, 0, 0, 1)
INSERT [dbo].[FP_WMS_Permission] ([id], [name], [flagpage], [isadd], [isupdate], [isdelete], [isaudit], [status]) VALUES (2, N'用户查看', N'admin/user/usermanage.aspx', 0, 0, 0, 0, 1)
SET IDENTITY_INSERT [dbo].[FP_WMS_Permission] OFF
/****** Object:  Table [dbo].[FP_WMS_MsgTempInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_MsgTempInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [int] NULL,
	[name] [nvarchar](50) NULL,
	[markup] [nvarchar](20) NULL,
	[subject] [nvarchar](50) NULL,
	[content] [ntext] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_FP_WMS_EmailTemplate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模板类型 0为站内信 1为邮件 2为短信' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_MsgTempInfo', @level2type=N'COLUMN',@level2name=N'type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模板标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_MsgTempInfo', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模板标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_MsgTempInfo', @level2type=N'COLUMN',@level2name=N'markup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'信息标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_MsgTempInfo', @level2type=N'COLUMN',@level2name=N'subject'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模板内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_MsgTempInfo', @level2type=N'COLUMN',@level2name=N'content'
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_MsgTempInfo] ON
INSERT [dbo].[FP_WMS_MsgTempInfo] ([id], [type], [name], [markup], [subject], [content], [status]) VALUES (5, 1, N'重置密码邮件', N'email_resetpassword', N'方配网站管理系统重置密码邮件', N'亲爱的【姓名】，您好：<br />
<br />
很高兴您使用方配网站管理系统(WMS)。<br />
<br />
请在30分钟内点击以下链接重置您的密码：<br />
【激活链接】<br />
(如果链接无法点击，请将它拷贝到浏览器的地址栏中)<br />
感谢您对我们的支持！<br />
<br />
-----------------------------------------------------------------------<br />
此为系统邮件，请勿回复。<br />
方配软件技术有限公司<br />
如有任何疑问，可访问 http://www.fangpage.com <br />
<br />', 1)
INSERT [dbo].[FP_WMS_MsgTempInfo] ([id], [type], [name], [markup], [subject], [content], [status]) VALUES (7, 1, N'测试发送邮件', N'email_test', N'方配网站管理系统(WMS)发送系统测试邮件', N'您好，这是一封方配网站管理系统(WMS)邮箱设置页面发送的测试邮件!，如果您收到这款邮件说明您的邮箱配置是正确的。', 1)
SET IDENTITY_INSERT [dbo].[FP_WMS_MsgTempInfo] OFF
/****** Object:  Table [dbo].[FP_WMS_MenuInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_MenuInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parentid] [int] NULL,
	[platform] [nvarchar](100) NULL,
	[name] [nvarchar](50) NULL,
	[lefturl] [nvarchar](200) NULL,
	[righturl] [nvarchar](200) NULL,
	[display] [int] NULL,
	[hidden] [int] NULL,
	[system] [int] NULL,
 CONSTRAINT [PK_WMS_MenuInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_MenuInfo] ON
INSERT [dbo].[FP_WMS_MenuInfo] ([id], [parentid], [platform], [name], [lefturl], [righturl], [display], [hidden], [system]) VALUES (1, 0, N'SYSTEM', N'系统设置', N'sysmenu.aspx?parentid=1', N'desktop.aspx', 1, 0, 1)
INSERT [dbo].[FP_WMS_MenuInfo] ([id], [parentid], [platform], [name], [lefturl], [righturl], [display], [hidden], [system]) VALUES (2, 1, N'SYSTEM', N'系统常规设置', N'', N'', 1, 0, 1)
INSERT [dbo].[FP_WMS_MenuInfo] ([id], [parentid], [platform], [name], [lefturl], [righturl], [display], [hidden], [system]) VALUES (3, 2, N'SYSTEM', N'系统基础配置', N'', N'global/sysconfigmanage.aspx', 1, 0, 1)
SET IDENTITY_INSERT [dbo].[FP_WMS_MenuInfo] OFF
/****** Object:  Table [dbo].[FP_WMS_GradeInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_GradeInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[display] [int] NULL,
	[name] [nvarchar](200) NULL,
	[description] [nvarchar](200) NULL,
 CONSTRAINT [PK_WMS_UserGrade] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_GradeInfo] ON
INSERT [dbo].[FP_WMS_GradeInfo] ([id], [display], [name], [description]) VALUES (1, 4, N'员工', N'')
INSERT [dbo].[FP_WMS_GradeInfo] ([id], [display], [name], [description]) VALUES (2, 3, N'部门经理', N'')
INSERT [dbo].[FP_WMS_GradeInfo] ([id], [display], [name], [description]) VALUES (3, 2, N'总经理', N'')
SET IDENTITY_INSERT [dbo].[FP_WMS_GradeInfo] OFF
/****** Object:  Table [dbo].[FP_WMS_DesktopInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_DesktopInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uid] [int] NULL,
	[app] [nvarchar](50) NULL,
	[parentid] [int] NULL,
	[platform] [nvarchar](100) NULL,
	[name] [nvarchar](50) NULL,
	[markup] [nvarchar](60) NULL,
	[description] [nvarchar](200) NULL,
	[icon] [nvarchar](200) NULL,
	[attach_icon] [nvarchar](100) NULL,
	[url] [nvarchar](200) NULL,
	[target] [nvarchar](20) NULL,
	[desk] [int] NULL,
	[width] [int] NULL,
	[height] [int] NULL,
	[hidden] [int] NULL,
	[display] [int] NULL,
 CONSTRAINT [PK_FP_WMS_DesktopInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'桌面图标用户id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_DesktopInfo', @level2type=N'COLUMN',@level2name=N'uid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'桌面名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_DesktopInfo', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'桌面描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_DesktopInfo', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'桌面图标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_DesktopInfo', @level2type=N'COLUMN',@level2name=N'icon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'打开目标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_DesktopInfo', @level2type=N'COLUMN',@level2name=N'url'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'连接地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_DesktopInfo', @level2type=N'COLUMN',@level2name=N'target'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否隐藏' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_DesktopInfo', @level2type=N'COLUMN',@level2name=N'hidden'
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_DesktopInfo] ON
INSERT [dbo].[FP_WMS_DesktopInfo] ([id], [uid], [app], [parentid], [platform], [name], [markup], [description], [icon], [attach_icon], [url], [target], [desk], [width], [height], [hidden], [display]) VALUES (1, 0, N'sites_admin', 6, N'SYSTEM', N'站点管理', N'', N'', N'statics/desktop/sites.gif', N'688P0462PZ682X42VV64', N'global/sitemanage.aspx', N'_self', 1, 0, 0, 0, 3)
INSERT [dbo].[FP_WMS_DesktopInfo] ([id], [uid], [app], [parentid], [platform], [name], [markup], [description], [icon], [attach_icon], [url], [target], [desk], [width], [height], [hidden], [display]) VALUES (2, 0, N'sites_admin', 6, N'SYSTEM', N'角色管理', N'', N'', N'statics/desktop/role.gif', N'P48602804LPLR04L8BJ8', N'user/rolemanage.aspx', N'_self', 0, 0, 0, 0, 2)
INSERT [dbo].[FP_WMS_DesktopInfo] ([id], [uid], [app], [parentid], [platform], [name], [markup], [description], [icon], [attach_icon], [url], [target], [desk], [width], [height], [hidden], [display]) VALUES (3, 0, N'sites_admin', 6, N'SYSTEM', N'用户管理', N'', N'', N'/admin/statics/desktop/users.gif', N'N4V628N0680X8LPHF0RP', N'user/usermanage.aspx', N'_self', 0, 0, 0, 0, 4)
SET IDENTITY_INSERT [dbo].[FP_WMS_DesktopInfo] OFF
/****** Object:  Table [dbo].[FP_WMS_Department]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_Department](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[keyid] [nvarchar](100) NULL,
	[parentid] [int] NULL,
	[parentlist] [nvarchar](250) NULL,
	[departlist] [nvarchar](250) NULL,
	[name] [nvarchar](100) NULL,
	[shortname] [nvarchar](100) NULL,
	[longname] [nvarchar](200) NULL,
	[markup] [nvarchar](100) NULL,
	[types] [nvarchar](250) NULL,
	[manager] [nvarchar](250) NULL,
	[departer] [nvarchar](250) NULL,
	[usercount] [int] NULL,
	[description] [nvarchar](250) NULL,
	[display] [int] NULL,
	[subcounts] [int] NULL,
	[posts] [int] NULL,
 CONSTRAINT [PK_WMS_Department] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Department', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级部门' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Department', @level2type=N'COLUMN',@level2name=N'parentid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门层级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Department', @level2type=N'COLUMN',@level2name=N'parentlist'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Department', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门简称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Department', @level2type=N'COLUMN',@level2name=N'shortname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门全称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Department', @level2type=N'COLUMN',@level2name=N'longname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Department', @level2type=N'COLUMN',@level2name=N'markup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门用户数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Department', @level2type=N'COLUMN',@level2name=N'usercount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Department', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Department', @level2type=N'COLUMN',@level2name=N'display'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'子部门数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Department', @level2type=N'COLUMN',@level2name=N'subcounts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门发布数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_Department', @level2type=N'COLUMN',@level2name=N'posts'
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_Department] ON
INSERT [dbo].[FP_WMS_Department] ([id], [keyid], [parentid], [parentlist], [departlist], [name], [shortname], [longname], [markup], [types], [manager], [departer], [usercount], [description], [display], [subcounts], [posts]) VALUES (1, N'', 0, N'0,1', N'方配软件', N'方配软件', N'', NULL, N'', N'', N'', N'', 0, N'', 1, 3, 0)
INSERT [dbo].[FP_WMS_Department] ([id], [keyid], [parentid], [parentlist], [departlist], [name], [shortname], [longname], [markup], [types], [manager], [departer], [usercount], [description], [display], [subcounts], [posts]) VALUES (2, N'', 1, N'0,1,2', N'方配软件>政治部', N'政治部', N'', NULL, N'', N'', N'', N'', 0, N'', 1, 0, 0)
INSERT [dbo].[FP_WMS_Department] ([id], [keyid], [parentid], [parentlist], [departlist], [name], [shortname], [longname], [markup], [types], [manager], [departer], [usercount], [description], [display], [subcounts], [posts]) VALUES (3, N'', 1, N'0,1,3', N'方配软件>财务部', N'财务部', N'', NULL, N'', N'', N'', N'', 0, N'', 4, 0, 0)
SET IDENTITY_INSERT [dbo].[FP_WMS_Department] OFF
/****** Object:  Table [dbo].[FP_WMS_CreditInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_CreditInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uid] [int] NULL,
	[name] [nvarchar](50) NULL,
	[type] [int] NULL,
	[credits] [int] NULL,
	[postdatetime] [datetime] NULL,
	[doid] [int] NULL,
	[doname] [nvarchar](30) NULL,
 CONSTRAINT [PK_FP_CreditLogInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'积分用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_CreditInfo', @level2type=N'COLUMN',@level2name=N'uid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'积分名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_CreditInfo', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'积分类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_CreditInfo', @level2type=N'COLUMN',@level2name=N'type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'积分值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_CreditInfo', @level2type=N'COLUMN',@level2name=N'credits'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'积分时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_CreditInfo', @level2type=N'COLUMN',@level2name=N'postdatetime'
GO
/****** Object:  Table [dbo].[FP_WMS_ChannelInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_ChannelInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[display] [int] NULL,
	[markup] [nvarchar](20) NULL,
	[sortapps] [nvarchar](250) NULL,
	[description] [nvarchar](100) NULL,
 CONSTRAINT [PK_WMS_ChannelInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_ChannelInfo] ON
INSERT [dbo].[FP_WMS_ChannelInfo] ([id], [name], [display], [markup], [sortapps], [description]) VALUES (1, N'内容管理', 1, N'', N'1', N'内容栏目管理')
SET IDENTITY_INSERT [dbo].[FP_WMS_ChannelInfo] OFF
/****** Object:  Table [dbo].[FP_WMS_CacheInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_CacheInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[key] [nvarchar](50) NULL,
	[expires] [int] NULL,
	[cachedatetime] [datetime] NULL,
	[file] [nvarchar](250) NULL,
 CONSTRAINT [PK_FP_WMS_CacheInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'缓存名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_CacheInfo', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'缓存键值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_CacheInfo', @level2type=N'COLUMN',@level2name=N'key'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'过期时间(分钟)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_CacheInfo', @level2type=N'COLUMN',@level2name=N'expires'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'缓存时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_WMS_CacheInfo', @level2type=N'COLUMN',@level2name=N'cachedatetime'
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_CacheInfo] ON
INSERT [dbo].[FP_WMS_CacheInfo] ([id], [name], [key], [expires], [cachedatetime], [file]) VALUES (1, N'系统文件大小缓存', N'WMS_SYSSIZE', 10, CAST(0x0000A6A700CA4928 AS DateTime), N'')
INSERT [dbo].[FP_WMS_CacheInfo] ([id], [name], [key], [expires], [cachedatetime], [file]) VALUES (2, N'系统桌面信息缓存', N'FP_DESKLIST', -1, CAST(0x0000A7C100FDA598 AS DateTime), N'')
INSERT [dbo].[FP_WMS_CacheInfo] ([id], [name], [key], [expires], [cachedatetime], [file]) VALUES (3, N'系统邮箱配置缓存', N'FP_EMAILCONFIG', 0, CAST(0x0000AA8D01346B14 AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[FP_WMS_CacheInfo] OFF
/****** Object:  Table [dbo].[FP_WMS_AttachType]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_AttachType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[extension] [nvarchar](10) NULL,
	[maxsize] [int] NULL,
	[type] [nvarchar](30) NULL,
 CONSTRAINT [PK_attachtype] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_AttachType] ON
INSERT [dbo].[FP_WMS_AttachType] ([id], [extension], [maxsize], [type]) VALUES (1, N'jpg', 4096, N'图片文件')
INSERT [dbo].[FP_WMS_AttachType] ([id], [extension], [maxsize], [type]) VALUES (3, N'gif', 4096, N'图片文件')
INSERT [dbo].[FP_WMS_AttachType] ([id], [extension], [maxsize], [type]) VALUES (4, N'zip', 4096, N'压缩文件')
SET IDENTITY_INSERT [dbo].[FP_WMS_AttachType] OFF
/****** Object:  Table [dbo].[FP_WMS_AttachInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_WMS_AttachInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[attachid] [nvarchar](50) NULL,
	[parentid] [int] NULL,
	[platform] [nvarchar](150) NULL,
	[app] [nvarchar](150) NULL,
	[postid] [int] NULL,
	[uid] [int] NULL,
	[name] [nvarchar](250) NULL,
	[filename] [nvarchar](200) NULL,
	[filetype] [nvarchar](100) NULL,
	[filesize] [int] NULL,
	[description] [nvarchar](200) NULL,
	[uploadtime] [datetime] NULL,
	[downloads] [int] NULL,
	[reads] [int] NULL,
	[issync] [int] NULL,
 CONSTRAINT [PK_WMS_FileInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FP_WMS_AttachInfo] ON
INSERT [dbo].[FP_WMS_AttachInfo] ([id], [attachid], [parentid], [platform], [app], [postid], [uid], [name], [filename], [filetype], [filesize], [description], [uploadtime], [downloads], [reads], [issync]) VALUES (1, NULL, NULL, NULL, NULL, NULL, 1, N'121753623409245_300_2.jpg', N'/upload/201509/28/201509280855586593.jpg', N'图片文件(JPG)', 69676, N'', NULL, 0, 0, NULL)
INSERT [dbo].[FP_WMS_AttachInfo] ([id], [attachid], [parentid], [platform], [app], [postid], [uid], [name], [filename], [filetype], [filesize], [description], [uploadtime], [downloads], [reads], [issync]) VALUES (2, NULL, NULL, NULL, NULL, NULL, 1, N'121753623409245.jpg', N'/upload/201509/28/201509280949581947.jpg', N'图片文件(JPG)', 244232, N'', NULL, 0, 0, NULL)
INSERT [dbo].[FP_WMS_AttachInfo] ([id], [attachid], [parentid], [platform], [app], [postid], [uid], [name], [filename], [filetype], [filesize], [description], [uploadtime], [downloads], [reads], [issync]) VALUES (3, NULL, NULL, NULL, NULL, NULL, 1, N'37999925004215.jpg', N'/upload/201509/28/201509280951001507.jpg', N'图片文件(JPG)', 242563, N'', NULL, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[FP_WMS_AttachInfo] OFF
/****** Object:  Table [dbo].[FP_News_NewsInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FP_News_NewsInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uid] [int] NULL,
	[channelid] [int] NULL,
	[sortid] [int] NULL,
	[typelist] [nvarchar](200) NULL,
	[title] [nvarchar](200) NULL,
	[subtitle] [nvarchar](200) NULL,
	[color] [char](7) NULL,
	[strong] [int] NULL,
	[keywords] [nvarchar](200) NULL,
	[otherurl] [nvarchar](200) NULL,
	[content] [ntext] NULL,
	[description] [nvarchar](200) NULL,
	[img] [nvarchar](200) NULL,
	[file] [nvarchar](200) NULL,
	[source] [nvarchar](200) NULL,
	[author] [nvarchar](60) NULL,
	[postdatetime] [datetime] NULL,
	[views] [int] NULL,
	[downloads] [int] NULL,
	[comments] [int] NULL,
	[attachid] [nvarchar](255) NULL,
	[editor] [nvarchar](60) NULL,
	[lastedit] [nvarchar](60) NULL,
	[auditer] [nvarchar](60) NULL,
	[status] [int] NULL,
	[hidden] [int] NULL,
	[allowcomment] [int] NULL,
	[allowcopy] [int] NULL,
	[istop] [int] NULL,
	[isindex] [int] NULL,
	[post] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[FP_News_NewsInfo] ON
INSERT [dbo].[FP_News_NewsInfo] ([id], [uid], [channelid], [sortid], [typelist], [title], [subtitle], [color], [strong], [keywords], [otherurl], [content], [description], [img], [file], [source], [author], [postdatetime], [views], [downloads], [comments], [attachid], [editor], [lastedit], [auditer], [status], [hidden], [allowcomment], [allowcopy], [istop], [isindex], [post]) VALUES (137, 1, 1, 16, N'', N'总社章程', N'总社章程', N'#000000', 0, N'', N'', N'总社章程', N'', N'', N'', N'广西二轻工业联社', N'', CAST(0x00009D2700AF3EE4 AS DateTime), 1836, NULL, 0, N'93', N'', N'', N'管理员(admin)', 1, 0, 0, NULL, 0, 1, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
SET IDENTITY_INSERT [dbo].[FP_News_NewsInfo] OFF
/****** Object:  Table [dbo].[FP_News_ArticleInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_News_ArticleInfo](
	[sortid] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[img] [nvarchar](200) NULL,
	[description] [nvarchar](200) NULL,
	[content] [ntext] NULL,
	[attachid] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[sortid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[FP_News_ArticleInfo] ([sortid], [title], [img], [description], [content], [attachid]) VALUES (1, N'联社概况', N'', N'', N'联社概况', NULL)
/****** Object:  Table [dbo].[FP_Link_LinkInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_Link_LinkInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sortid] [int] NULL,
	[name] [nvarchar](200) NULL,
	[target] [nvarchar](50) NULL,
	[url] [nvarchar](250) NULL,
	[img] [nvarchar](250) NULL,
	[attachid] [nvarchar](50) NULL,
 CONSTRAINT [PK_FP_Link_LinkInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FP_Link_LinkInfo] ON
INSERT [dbo].[FP_Link_LinkInfo] ([id], [sortid], [name], [target], [url], [img], [attachid]) VALUES (1, 24, N'dfdf', N'_self', N'df', N'/upload/201907/18/201907181531340637.png', N'806LPT6B84860402TXF6')
SET IDENTITY_INSERT [dbo].[FP_Link_LinkInfo] OFF
/****** Object:  Table [dbo].[FP_GB_GuestBookInfo]    Script Date: 07/18/2019 16:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FP_GB_GuestBookInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sortid] [int] NULL,
	[name] [nvarchar](50) NULL,
	[sex] [nvarchar](20) NULL,
	[idcard] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[company] [nvarchar](50) NULL,
	[title] [nvarchar](50) NULL,
	[content] [ntext] NULL,
	[postdatetime] [datetime] NULL,
	[reply] [ntext] NULL,
	[replydatetime] [datetime] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_FP_GB_GuestBookInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_GB_GuestBookInfo', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'性别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_GB_GuestBookInfo', @level2type=N'COLUMN',@level2name=N'sex'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'身份证号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_GB_GuestBookInfo', @level2type=N'COLUMN',@level2name=N'idcard'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电话' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_GB_GuestBookInfo', @level2type=N'COLUMN',@level2name=N'phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电子邮件' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_GB_GuestBookInfo', @level2type=N'COLUMN',@level2name=N'email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'所在公司' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_GB_GuestBookInfo', @level2type=N'COLUMN',@level2name=N'company'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_GB_GuestBookInfo', @level2type=N'COLUMN',@level2name=N'title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_GB_GuestBookInfo', @level2type=N'COLUMN',@level2name=N'content'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_GB_GuestBookInfo', @level2type=N'COLUMN',@level2name=N'postdatetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'回复内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_GB_GuestBookInfo', @level2type=N'COLUMN',@level2name=N'reply'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'回复时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_GB_GuestBookInfo', @level2type=N'COLUMN',@level2name=N'replydatetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'审核状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FP_GB_GuestBookInfo', @level2type=N'COLUMN',@level2name=N'status'
GO
SET IDENTITY_INSERT [dbo].[FP_GB_GuestBookInfo] ON
INSERT [dbo].[FP_GB_GuestBookInfo] ([id], [sortid], [name], [sex], [idcard], [phone], [email], [company], [title], [content], [postdatetime], [reply], [replydatetime], [status]) VALUES (1, 9, N'sdf', N'', N'', N'sdf', N'sdf', N'', N'sdf', N'sdf', CAST(0x0000AA8E00BFB170 AS DateTime), N'dfs', CAST(0x0000AA8E00BFCD90 AS DateTime), 1)
INSERT [dbo].[FP_GB_GuestBookInfo] ([id], [sortid], [name], [sex], [idcard], [phone], [email], [company], [title], [content], [postdatetime], [reply], [replydatetime], [status]) VALUES (2, 9, N'sdf', N'', N'', N'sdf', N'sdf', N'', N'df', N'sdf', CAST(0x0000AA8E00F5AE88 AS DateTime), N'', CAST(0x0000AA8E00F5AE88 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[FP_GB_GuestBookInfo] OFF
/****** Object:  Default [DF__FP_News_N__color__300424B4]    Script Date: 07/18/2019 16:09:58 ******/
ALTER TABLE [dbo].[FP_News_NewsInfo] ADD  DEFAULT (N'#000000') FOR [color]
GO
/****** Object:  Default [DF_FP_News_NewsInfo_post]    Script Date: 07/18/2019 16:09:58 ******/
ALTER TABLE [dbo].[FP_News_NewsInfo] ADD  CONSTRAINT [DF_FP_News_NewsInfo_post]  DEFAULT ((0)) FOR [post]
GO
/****** Object:  Default [DF_FP_WMS_MsgTempInfo_status]    Script Date: 07/18/2019 16:09:58 ******/
ALTER TABLE [dbo].[FP_WMS_MsgTempInfo] ADD  CONSTRAINT [DF_FP_WMS_MsgTempInfo_status]  DEFAULT ((1)) FOR [status]
GO
/****** Object:  Default [DF_WMS_SortInfo_appid]    Script Date: 07/18/2019 16:09:58 ******/
ALTER TABLE [dbo].[FP_WMS_SortInfo] ADD  CONSTRAINT [DF_WMS_SortInfo_appid]  DEFAULT ((0)) FOR [appid]
GO
/****** Object:  Default [DF_WMS_SortInfo_subcounts]    Script Date: 07/18/2019 16:09:58 ******/
ALTER TABLE [dbo].[FP_WMS_SortInfo] ADD  CONSTRAINT [DF_WMS_SortInfo_subcounts]  DEFAULT ((0)) FOR [subcounts]
GO
