<?xml version="1.0"?>
<AppInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <id>1</id>
  <name>新闻文章</name>
  <installpath>news</installpath>
  <author>方配</author>
  <version>1.0</version>
  <frontpage />
  <notes />
  <files>FP_News.dll</files>
  <guid>5fde265e-da2e-480d-bff8-85eabb35d5eb</guid>
  <sortapps>新闻文章,news,newsmanage.aspx|文章简介,article,articlemanage.aspx|图片管理,image,imgmanage.aspx|文件下载,download,downloadmanage.aspx</sortapps>
</AppInfo>