<?xml version="1.0"?>
<AppInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <id>2</id>
  <name>在线留言</name>
  <installpath>guestbook</installpath>
  <author>方配</author>
  <version>1.0</version>
  <frontpage />
  <notes />
  <files>FP_GuestBook.dll</files>
  <guid>ad77440b-09e2-44a2-a154-f0d150aebbea</guid>
  <sortapps>在线留言,guestbook,guestbookmanage.aspx</sortapps>
</AppInfo>