<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>在线留言</name>
  <guid>7565282a-a50e-4e85-be4b-4c500d77bcd0</guid>
  <markup>app_guestbook</markup>
  <platform />
  <installpath>guestbook</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <adminurl />
  <indexurl />
  <icon />
  <homepage>http://www.fangpage.com</homepage>
  <notes />
  <dll>FP_GuestBook.dll</dll>
  <sortapps>在线留言|guestbook|guestbookmanage.aspx</sortapps>
  <createdate>2016-06-22 22:22:24</createdate>
  <updatedate>2016-06-22 22:22:24</updatedate>
  <size />
  <width>0</width>
  <height>0</height>
</AppConfig>